@font-face {
    font-family: FontBold;
    src: url(fonts/bold.otf);
}

@font-face {
    font-family: FontSemiBold;
    src: url(fonts/semibold.otf);
}

@font-face {
    font-family: FontBold;
    src: url(fonts/bold.otf);
}

@font-face {
    font-family: FontRegular;
    src: url(fonts/regular.otf);
}

@font-face {
    font-family: FontLight;
    src: url(fonts/light.otf);
}

* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

#firstDiv {
    height: 100%;
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    background-image: url(imgs/bgpattern.png);
}

.topBar {
    width: 100%;
    height: 66px;
    background-color: #36393e;
}

.topBar-GetBaron,
.topBar-About,
.topBar-Commands {
    float: right;
    line-height: 61px;
}

.topBar > a {
    font-family: FontBold;
    font-size: 28px;
    color: white;
    margin-left: 35px;
    line-height: 60px;
}

.topBar-GetBaron,
.topBar-About,
.topBar-Commands {
    height: 100%;
    width: 155px;
    font-family: FontSemiBold;
    color: white;
    font-size: 20px;
    text-align: center;
}

.topBar-Commands:hover,
.topBar-About:hover {
    background-color: #2b2c2d;
    cursor: pointer;
    cursor: hand;
    -webkit-transition: background-color 100ms linear;
    -moz-transition: background-color 100ms linear;
    -o-transition: background-color 100ms linear;
    -ms-transition: background-color 100ms linear;
    transition: background-color 100ms linear;
}

.topBar-GetBaron {
    background-color: #d024fb;
    cursor: pointer;
    cursor: hand;
    -webkit-transition: background-color 100ms linear;
    -moz-transition: background-color 100ms linear;
    -o-transition: background-color 100ms linear;
    -ms-transition: background-color 100ms linear;
    transition: background-color 100ms linear;
}

.topBar-GetBaron:hover {
    background-color: #b308de;
    -webkit-transition: background-color 100ms linear;
    -moz-transition: background-color 100ms linear;
    -o-transition: background-color 100ms linear;
    -ms-transition: background-color 100ms linear;
    transition: background-color 100ms linear;
}

.topBar-Commands {
    padding-left: 20px;
}

.baronImage {
    height: 277px;
    width: 166px;
    margin: 0 auto;
    margin-top: 104px;
}

.baronImage > img {
    max-width: 100%;
    max-height: 100%;
}

.quote {
    color: #36393e;
    font-size: 28px;
    font-family: FontBold;
    text-align: center;
    margin-top: 55px;
}

.stats {
    height: 95px;
    width: 485px;
    background-color: #36393e;
    margin: 0 auto;
    margin-top: 50px;
    border-radius: 10px;
}

.stats > div {
    height: 100%;
    width: 33.3%;
    float: left;
    text-align: center;
    font-family: FontBold;
    font-size: 28px;
    color: white;
}

.statsServers > div,
.statsUsers > div,
.statsChannels > div {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin-top: -5px;
}

.discordServerImg {
    right: 0;
    position: absolute;
    bottom: 0;
    margin-right: 10px;
    margin-bottom: 10px;
}

.firstDiv-Center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#commands {
    width: 100%;
    background-image: url(imgs/bgpattern2.png);
    background-color: #36393e;
}

#commands > .tabela {
    width: 75%;
    margin: 0 auto;
}

.tabela > .commandsTitle {
    text-align: center;
    font-family: FontBold;
    font-size: 28px;
    color: white;
    padding-top: 50px;
    padding-bottom: 20px;
}

table {
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
    font-family: FontRegular;
    margin-top: 20px;
}

table th {
    background-color: #d024fb;
    font-size: 15px;
}

table tr {
    background: #f8f8f8;
    border: 1px solid #ddd;
    padding: .35em;
}

table th,
table td {
    padding: .625em;
    text-align: center;
}

table th {
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
}

a:link {
    color: #d024fb;
    text-decoration: none;
}

.quoteHelp {
    color: white;
    font-size: 20px;
    font-family: FontRegular;
    text-align: center;
    margin-top: 25px;
    padding-bottom: 45px;
}

.slightlyColored {
    background-color: #F3F6F6;
}

#about {
    background-color: #d024fb;
    width: 100%;
    background-image: url(imgs/bgpattern.png);
    text-align: center;
    font-family: FontRegular;
    font-size: 20px;
    color: white;
}

.aboutWrapper {
    width: 75%;
    margin: 0 auto;
}

.aboutTitle {
    text-align: center;
    font-family: FontBold;
    font-size: 28px;
    color: white;
    padding-top: 50px;
    padding-bottom: 20px;
}

.aboutContent {
    padding-bottom: 60px;
}

footer {
    background-color: #1A1A1A;
    text-align: center;
    font-family: FontLight;
    color: white;
    font-size: 15px;
    font-weight: bold;
}

footer > p {
    padding-top: 10px;
    padding-bottom: 10px;
}

footer > p > span {
    color: red;
}

footer > p > br {
    line-height: 170%;
}

footer > p > a {
    color: #99EFFF;
}

hr {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

.serverA {
    color: #D02AFA;
}

@media screen and (max-width: 600px) {
    .pinkBg {
        background-color: rgba(208, 36, 251, 1);
        color: white;
    }
    table {
        border: 0;
    }
    table caption {
        font-size: 1.3em;
    }
    table thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }
    table tr {
        display: block;
        margin-bottom: .625em;
        border: 0;
        padding: 0;
        border-bottom: 3px solid #ddd;
    }
    table td {
        border-bottom: 1px solid #ddd;
        display: block;
        font-size: .8em;
        text-align: right;
    }
    table td:before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }
    table td:last-child {
        border-bottom: 0;
    }
    .baronImage {
        height: 237px;
        width: 126px;
        padding-top: 30px;
    }
    .baronImage > img {
        margin-top: -80px;
    }
    .quote {
        font-size: 18px;
        font-family: FontBold;
        text-align: center;
        margin-top: -100px;
        margin-bottom: 20px;
    }
    .stats {
        height: 95px;
        width: 300px;
        background-color: #36393e;
        margin: 0 auto;
        border-radius: 10px;
    }
    .stats > div {
        height: 100%;
        width: 33.3%;
        float: left;
        text-align: center;
        font-family: FontBold;
        font-size: 20px;
        color: white;
    }
    .discordServerImg {
        display: none;
    }
    .footer {
        background-color: #1A1A1A;
        text-align: center;
        font-family: FontLight;
        color: white;
        font-size: 5px;
        font-weight: bold;
    }
    footer > p {
        font-size: 12px;
    }
}
